ImageIO==2.37.3
brax==0.14.2
flax==0.12.7
imageio-ffmpeg==0.6.0
jax-cuda13-pjrt==0.10.1
jax-cuda13-plugin==0.10.1
jax==0.10.1
jaxlib==0.10.1
jaxopt==0.8.5
matplotlib-inline==0.2.2
matplotlib==3.10.9
mujoco-mjx==3.9.0
mujoco==3.9.0
numpy==2.2.6
optax==0.2.8
osqp==1.1.1
playground==0.2.0
scipy==1.17.1
